body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(308, 93%, 24%)
    }  
  .calculator {
    border: 1px solid darkblue hsl(330, 88%, 23%);
    width: 500px;
    text-align: center;
    padding: 10px;
  }
  .number {
    background-color: hsl(308, 93%, 24%); /* Cor de fundo rosa */
    color: rgb(128, 64, 201); /* Cor do texto preta */
  }
  #display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
    button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }